<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mageplaza_GiftCard::giftcard" title="Mageplaza" sortOrder="51">
                    <resource id="Mageplaza_GiftCard::giftcard_post" title="GiftCard Post" sortOrder="10"/>
                    <resource id="Mageplaza_GiftCard::giftcard_configuration" title="Configuration" sortOrder="99" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mageplaza_GiftCard::gift_configuration" title="Gift Configuration Stores"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>